.contact-card {
  border-color: gray;
  border-style: double;
  border-width: 2px;
  margin: 5px;
  padding: 15px;
  width: 500px;

  md-icon {
    font-size: 72px;
    height: 72px;
    width: 72px;
  }
}
