<!--Left Side Bar-->
<md-sidenav md-component-id="uno-sidebar" class="md-sidenav-left"
			md-theme="sideBarTheme" flex>
	<!-- Sidebar Header -->
	<md-toolbar layout="row" layout-padding>
		<div class="md-toolbar-tools">
			<h2 flex="noshrink">Left Navbar Title</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.toggleSideBar()">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<!-- Sidebar Menu -->
	<md-list>
		<md-subheader>First SubHeader</md-subheader>
		<md-divider></md-divider>
		<md-list-item>
			<a href="#" flex layout-fill>Option 1</a>
		</md-list-item>
		<md-list-item>
			<a href="#" flex layout-fill>Option 2</a>
		</md-list-item>
		<md-subheader>Second SubHeader</md-subheader>
		<md-divider></md-divider>
		<md-list-item>
			<a href="#" flex layout-fill>Option 3</a>
		</md-list-item>
	</md-list>
</md-sidenav>

<!--Top Nav Bar-->
<md-toolbar md-whiteframe="4" id="top-navbar" flex="nogrow">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="vm.toggleSideBar()">
			<md-icon> menu </md-icon>
		</md-button>
		<h2>{{ vm.title }}</h2>
		<span flex></span>
		<md-icon> account_circle </md-icon>
		<h5>{{ vm.username }}</h5>
	</div>
</md-toolbar>

<!-- Content -->
<md-content id="main-container" layout="column" md-scroll-y flex>
	<div flex layout="column">
		<div flex="grow" layout="row">
			<subscription-card
					ng-repeat="subscription in vm.subscriptions"
					title="subscription.title"
					logo="subscription.logo"
					description="subscription.description"
					on-subscribe="vm.subscribe($event, subscription.title)">
			</subscription-card>
		</div>
		<div flex="grow" layout="column">
			<h1 text-bold>Title</h1>
			<p text-bold>Paragraph</p>
		</div>
		<div flex="grow">
			[Este es un bottom div]
		</div>
	</div>
</md-content>
