#top-navbar {
  .md-toolbar-tools {
    color: #fff;
    md-icon {
      color: #fff;
    }
  }
}

/* Necessary lines to use Roboto font with AngularJS + ES6 + Webpack */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@import 'directives/contact-card/contact-card.scss';
@import 'directives/img-container/img-container.scss';

.breaks{
  img {
    visibility: hidden;
  }
  &:nth-child(7) {
    figure {
      border: 5px yellow dotted;
    }
    background-color: red;
  }
  &:nth-child(8) {
    figure {
      border: 5px red dotted;
    }
    background-color: blue;
  }
  &:nth-child(9) {
    figure {
      border: 5px blue dotted;
    }
    background-color: yellow;
  }
}